<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtítulo cualquiera</h2>

    <img width="300px" src="/images/river.png" alt="">

    <strong>otro texto en negrita</strong>

    <p>Lorem ipsum dolor, <em>soy un texto en cursiva</em>sit amet <strong>esto es un texto en negrita</strong> consectetur adipisicing elit. Non deleniti corporis eveniet itaque. Iure ipsam, voluptas quos voluptatibus odio iusto voluptates sapiente quis? Dolor quaerat enim delectus asperiores, ducimus repellendus.</p>

    <p class="parrafo-destacado">Lorem ipsum <em>soy un texto en cursiva</em> dolor sit amet consectetur adipisicing elit. Ad aliquid officiis quaerat ullam numquam, quisquam alias. Amet laborum autem temporibus voluptates veniam. Laborum dolorum veritatis ad accusamus exercitationem quisquam. Sapiente!</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>

</body>
</html>